<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>background_day.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{288,512}</string>
    <key>spriteSourceSize</key>
    <string>{288,512}</string>
    <key>textureRect</key>
    <string>{{0,0},{288,512}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>background_night.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{288,512}</string>
    <key>spriteSourceSize</key>
    <string>{288,512}</string>
    <key>textureRect</key>
    <string>{{290,0},{288,512}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bird_blue_0.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{34,24}</string>
    <key>spriteSourceSize</key>
    <string>{34,24}</string>
    <key>textureRect</key>
    <string>{{134,766},{34,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bird_blue_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{34,24}</string>
    <key>spriteSourceSize</key>
    <string>{34,24}</string>
    <key>textureRect</key>
    <string>{{598,514},{34,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bird_blue_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{34,24}</string>
    <key>spriteSourceSize</key>
    <string>{34,24}</string>
    <key>textureRect</key>
    <string>{{698,362},{34,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bird_orange_0.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{34,24}</string>
    <key>spriteSourceSize</key>
    <string>{34,24}</string>
    <key>textureRect</key>
    <string>{{740,276},{34,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bird_orange_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{34,24}</string>
    <key>spriteSourceSize</key>
    <string>{34,24}</string>
    <key>textureRect</key>
    <string>{{668,400},{34,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bird_orange_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{34,24}</string>
    <key>spriteSourceSize</key>
    <string>{34,24}</string>
    <key>textureRect</key>
    <string>{{716,332},{34,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bird_red_0.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{34,24}</string>
    <key>spriteSourceSize</key>
    <string>{34,24}</string>
    <key>textureRect</key>
    <string>{{626,468},{34,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bird_red_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{34,24}</string>
    <key>spriteSourceSize</key>
    <string>{34,24}</string>
    <key>textureRect</key>
    <string>{{740,250},{34,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bird_red_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{34,24}</string>
    <key>spriteSourceSize</key>
    <string>{34,24}</string>
    <key>textureRect</key>
    <string>{{418,670},{34,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>button_menu.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{80,28}</string>
    <key>spriteSourceSize</key>
    <string>{80,28}</string>
    <key>textureRect</key>
    <string>{{634,332},{80,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>button_ok.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{80,28}</string>
    <key>spriteSourceSize</key>
    <string>{80,28}</string>
    <key>textureRect</key>
    <string>{{224,688},{80,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>button_pause.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{26,28}</string>
    <key>spriteSourceSize</key>
    <string>{26,28}</string>
    <key>textureRect</key>
    <string>{{498,598},{26,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>button_play_normal.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{104,58}</string>
    <key>spriteSourceSize</key>
    <string>{104,58}</string>
    <key>textureRect</key>
    <string>{{634,272},{104,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>button_play_pressed.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{104,58}</string>
    <key>spriteSourceSize</key>
    <string>{104,58}</string>
    <key>textureRect</key>
    <string>{{224,628},{104,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>button_rate_normal.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{62,36}</string>
    <key>spriteSourceSize</key>
    <string>{62,36}</string>
    <key>textureRect</key>
    <string>{{634,362},{62,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>button_rate_pressed.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{62,36}</string>
    <key>spriteSourceSize</key>
    <string>{62,36}</string>
    <key>textureRect</key>
    <string>{{108,728},{62,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>button_resume.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{26,28}</string>
    <key>spriteSourceSize</key>
    <string>{26,28}</string>
    <key>textureRect</key>
    <string>{{306,726},{26,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>button_score_normal.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{104,58}</string>
    <key>spriteSourceSize</key>
    <string>{104,58}</string>
    <key>textureRect</key>
    <string>{{634,212},{104,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>button_score_pressed.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{104,58}</string>
    <key>spriteSourceSize</key>
    <string>{104,58}</string>
    <key>textureRect</key>
    <string>{{392,564},{104,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>button_share.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{80,28}</string>
    <key>spriteSourceSize</key>
    <string>{80,28}</string>
    <key>textureRect</key>
    <string>{{580,438},{80,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ground.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{336,112}</string>
    <key>spriteSourceSize</key>
    <string>{336,112}</string>
    <key>textureRect</key>
    <string>{{0,514},{336,112}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>instructions.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,98}</string>
    <key>spriteSourceSize</key>
    <string>{114,98}</string>
    <key>textureRect</key>
    <string>{{108,628},{114,98}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>label_flappy_bird.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{178,48}</string>
    <key>spriteSourceSize</key>
    <string>{178,48}</string>
    <key>textureRect</key>
    <string>{{392,514},{178,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>label_game_over.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,42}</string>
    <key>spriteSourceSize</key>
    <string>{192,42}</string>
    <key>textureRect</key>
    <string>{{634,168},{192,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>label_get_ready.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{184,50}</string>
    <key>spriteSourceSize</key>
    <string>{184,50}</string>
    <key>textureRect</key>
    <string>{{634,116},{184,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>label_new.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,14}</string>
    <key>spriteSourceSize</key>
    <string>{32,14}</string>
    <key>textureRect</key>
    <string>{{172,774},{32,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>medal_bronze.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{44,44}</string>
    <key>spriteSourceSize</key>
    <string>{44,44}</string>
    <key>textureRect</key>
    <string>{{224,718},{44,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>medal_gold.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{44,44}</string>
    <key>spriteSourceSize</key>
    <string>{44,44}</string>
    <key>textureRect</key>
    <string>{{392,624},{44,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>medal_platinum.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{44,44}</string>
    <key>spriteSourceSize</key>
    <string>{44,44}</string>
    <key>textureRect</key>
    <string>{{580,468},{44,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>medal_silver.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{44,44}</string>
    <key>spriteSourceSize</key>
    <string>{44,44}</string>
    <key>textureRect</key>
    <string>{{172,728},{44,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>number_large_0.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{24,36}</string>
    <key>spriteSourceSize</key>
    <string>{24,36}</string>
    <key>textureRect</key>
    <string>{{572,514},{24,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>number_large_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,36}</string>
    <key>spriteSourceSize</key>
    <string>{16,36}</string>
    <key>textureRect</key>
    <string>{{668,426},{16,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>number_large_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{24,36}</string>
    <key>spriteSourceSize</key>
    <string>{24,36}</string>
    <key>textureRect</key>
    <string>{{438,624},{24,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>number_large_3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{24,36}</string>
    <key>spriteSourceSize</key>
    <string>{24,36}</string>
    <key>textureRect</key>
    <string>{{306,688},{24,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>number_large_4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{24,36}</string>
    <key>spriteSourceSize</key>
    <string>{24,36}</string>
    <key>textureRect</key>
    <string>{{740,212},{24,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>number_large_5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{24,36}</string>
    <key>spriteSourceSize</key>
    <string>{24,36}</string>
    <key>textureRect</key>
    <string>{{270,718},{24,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>number_large_6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{24,36}</string>
    <key>spriteSourceSize</key>
    <string>{24,36}</string>
    <key>textureRect</key>
    <string>{{532,564},{24,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>number_large_7.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{24,36}</string>
    <key>spriteSourceSize</key>
    <string>{24,36}</string>
    <key>textureRect</key>
    <string>{{392,670},{24,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>number_large_8.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{24,36}</string>
    <key>spriteSourceSize</key>
    <string>{24,36}</string>
    <key>textureRect</key>
    <string>{{464,624},{24,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>number_large_9.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{24,36}</string>
    <key>spriteSourceSize</key>
    <string>{24,36}</string>
    <key>textureRect</key>
    <string>{{108,766},{24,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>number_middle_0.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{14,20}</string>
    <key>spriteSourceSize</key>
    <string>{14,20}</string>
    <key>textureRect</key>
    <string>{{134,792},{14,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>number_middle_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{10,20}</string>
    <key>spriteSourceSize</key>
    <string>{10,20}</string>
    <key>textureRect</key>
    <string>{{532,602},{10,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>number_middle_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{14,20}</string>
    <key>spriteSourceSize</key>
    <string>{14,20}</string>
    <key>textureRect</key>
    <string>{{206,774},{14,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>number_middle_3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{14,20}</string>
    <key>spriteSourceSize</key>
    <string>{14,20}</string>
    <key>textureRect</key>
    <string>{{558,564},{14,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>number_middle_4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{14,20}</string>
    <key>spriteSourceSize</key>
    <string>{14,20}</string>
    <key>textureRect</key>
    <string>{{270,756},{14,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>number_middle_5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{14,20}</string>
    <key>spriteSourceSize</key>
    <string>{14,20}</string>
    <key>textureRect</key>
    <string>{{740,302},{14,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>number_middle_6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{14,20}</string>
    <key>spriteSourceSize</key>
    <string>{14,20}</string>
    <key>textureRect</key>
    <string>{{766,212},{14,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>number_middle_7.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{14,20}</string>
    <key>spriteSourceSize</key>
    <string>{14,20}</string>
    <key>textureRect</key>
    <string>{{224,764},{14,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>number_middle_8.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{14,20}</string>
    <key>spriteSourceSize</key>
    <string>{14,20}</string>
    <key>textureRect</key>
    <string>{{498,628},{14,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>number_middle_9.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{14,20}</string>
    <key>spriteSourceSize</key>
    <string>{14,20}</string>
    <key>textureRect</key>
    <string>{{240,764},{14,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>number_small_0.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{12,14}</string>
    <key>spriteSourceSize</key>
    <string>{12,14}</string>
    <key>textureRect</key>
    <string>{{808,16},{12,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>number_small_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{6,14}</string>
    <key>spriteSourceSize</key>
    <string>{6,14}</string>
    <key>textureRect</key>
    <string>{{330,628},{6,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>number_small_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{12,14}</string>
    <key>spriteSourceSize</key>
    <string>{12,14}</string>
    <key>textureRect</key>
    <string>{{686,426},{12,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>number_small_3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{12,14}</string>
    <key>spriteSourceSize</key>
    <string>{12,14}</string>
    <key>textureRect</key>
    <string>{{150,792},{12,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>number_small_4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{12,14}</string>
    <key>spriteSourceSize</key>
    <string>{12,14}</string>
    <key>textureRect</key>
    <string>{{256,764},{12,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>number_small_5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{12,14}</string>
    <key>spriteSourceSize</key>
    <string>{12,14}</string>
    <key>textureRect</key>
    <string>{{626,494},{12,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>number_small_6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{12,14}</string>
    <key>spriteSourceSize</key>
    <string>{12,14}</string>
    <key>textureRect</key>
    <string>{{766,234},{12,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>number_small_7.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{12,14}</string>
    <key>spriteSourceSize</key>
    <string>{12,14}</string>
    <key>textureRect</key>
    <string>{{574,564},{12,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>number_small_8.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{12,14}</string>
    <key>spriteSourceSize</key>
    <string>{12,14}</string>
    <key>textureRect</key>
    <string>{{598,540},{12,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>number_small_9.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{12,14}</string>
    <key>spriteSourceSize</key>
    <string>{12,14}</string>
    <key>textureRect</key>
    <string>{{808,0},{12,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>panel_score.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{226,114}</string>
    <key>spriteSourceSize</key>
    <string>{226,114}</string>
    <key>textureRect</key>
    <string>{{580,0},{226,114}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pipe_green_bottom.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{52,320}</string>
    <key>spriteSourceSize</key>
    <string>{52,320}</string>
    <key>textureRect</key>
    <string>{{0,628},{52,320}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pipe_green_top.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{52,320}</string>
    <key>spriteSourceSize</key>
    <string>{52,320}</string>
    <key>textureRect</key>
    <string>{{580,116},{52,320}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pipe_red_bottom.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{52,320}</string>
    <key>spriteSourceSize</key>
    <string>{52,320}</string>
    <key>textureRect</key>
    <string>{{54,628},{52,320}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pipe_red_top.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{52,320}</string>
    <key>spriteSourceSize</key>
    <string>{52,320}</string>
    <key>textureRect</key>
    <string>{{338,514},{52,320}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>rect_black.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{498,564},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>rect_white.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{634,400},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>spark_0.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{2,2}</string>
    <key>spriteSourceSize</key>
    <string>{10,10}</string>
    <key>textureRect</key>
    <string>{{330,652},{2,2}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>spark_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{6,6}</string>
    <key>spriteSourceSize</key>
    <string>{10,10}</string>
    <key>textureRect</key>
    <string>{{330,644},{6,6}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>spark_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{10,10}</string>
    <key>spriteSourceSize</key>
    <string>{10,10}</string>
    <key>textureRect</key>
    <string>{{572,552},{10,10}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1024,1024}</string>
   <key>textureFileName</key>
   <string>flappy.png</string>
  </dict>
 </dict>
</plist>
